h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:darkgoldenrod;
    margin: 40px 0 30px 0;
}

nav{
    text-align: center;
}

.navk{
    margin: 20px;
    border: 2px solid #FEA500; /* Параметры границы */
    border-radius: 20px;
    background: rgba(255, 204, 51, 0); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    color: #FEA500;
    text-decoration: none;
}

#vse{
    background: #FEA500; /* Цвет фона */
    color: black;
}

div{
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    border: 2px solid #f5f5f5; /* Параметры границы */
    margin: 30px 10px;
    width: 370px;
    height: 250px;
    border-radius: 5px;
    background: rgb(255, 255, 255); /* Цвет фона */
    padding: 20px; /* Поля вокруг текста */
}

button{
    margin: 50px;
    border: 2px solid #FEA500; /* Параметры границы */
    border-radius: 20px;
    background: #FEA500; /* Цвет фона */
    color: black;
    padding: 10px; /* Поля вокруг текста */
    text-decoration: none;
    width: 300px;   
}

main{
    text-align: center;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #5f0085;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #7a7a7a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0035a7;
}

#inf{
    text-align: center;
    vertical-align: top;
}

table{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px -20px 30px;
    height: 20px;
    width: 300px;
}

#os{
    color: #FEA500;
    text-decoration: line-through;
}

.td1{
    text-align: left;
}

.td2{
    text-align: right;
}

div:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

a{
    text-decoration: none;
}